{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(searchForm) }}
            <div class="row">
                {% if form_errors(searchForm.address) %}
                    <div class="input-field col s8 m4 offset-m3 red-text">
                        {{ form_errors(searchForm.address) }}
                    </div>
                {% endif %}
                <div class="input-field col s8 m4 offset-m3">
                    {{ form_widget(searchForm.address) }}
                    {{ form_label(searchForm.address) }}
                </div>
                <div class="input-field col s4 m2">
                    <button type="submit" class="btn">Valider</button>
                </div>
            </div>
        {{ form_end(searchForm) }}

        <div class="row">
            <div class="col s12 m6 offset-m3">
                {% if weather is defined %}
                    {% if weather %}
                        <p>
                            <img src="{{ asset('img/' ~ weather.img) }}" alt="{{ weather.type }}" style="position: relative; top: 22px;">
                            {{ weather.temperature }}°C
                        </p>
                    {% else %}
                        <p>Erreur : l'adresse entrée n'existe pas.</p>
                    {% endif %}
                {% endif %}
            </div>

            {% if search is defined %}
                {% for weather in search.weatherHistories %}
                    <div class="col s12 m6 offset-m3">
                        {% if loop.first %}
                            <hr>
                        {% endif %}
                        <p>
                            Le {{ weather.createdAt|date('d/m/Y à h:i:s') }} : <br>
                            <img src="{{ asset('img/' ~ weather.img) }}" alt="{{ weather.type }}" style="position: relative; top: 22px;">
                            {{ weather.temperature }}°C
                        </p>
                        {% if not loop.last %}
                            <hr>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}